.main-section {
    background-image: url(../../assets/main-bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.main-section>.main-txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.main-section>.main-txt-container>button {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid rgba(150, 92, 255, 1);
    background: rgb(150, 92, 255, 1);
    transition: all 400ms;
    cursor: pointer;
}

.main-section>.main-txt-container>button:hover {
    background: rgb(150, 70, 255, 1);
}

.main-section>.main-txt-container>button:hover .linear-arrow {
    transform: translateX(8px);
}

.main-section>.main-txt-container>button>.linear-arrow {
    margin-left: 10px;
    transition: all 400ms;
}

.main-section>.main-txt-container>.main-heading-txt {
    width: 450px;
    color: #fff;
    font-size: 46px;
    text-align: center;
    margin-bottom: 30px;
}

.main-section>.main-txt-container>.main-txt {
    font-size: 22px;
    color: #fff;
    opacity: 0.8;
    width: 550px;
    text-align: center;
    margin-bottom: 30px;
}

.main-section>.main-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-section>.main-board>img {
    width: 80%;
}

.main-section>.main-board>.board-savings {
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    width: 200px;
    height: 120px;
    position: absolute;
    top: -40px;
    right: 60px;
}

.main-section>.main-board>.board-savings>p {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 5px;
}

.main-section>.main-board>.board-savings>p.amount {
    font-size: 25px;
}

.main-section>.main-board>.board-savings>div {
    display: flex;

}

.main-section>.main-board>.board-savings>div>.saving-dot {
    width: 12px;
    height: 10px;
    border-radius: 3px;
    background: #262C3B1C;
    margin-right: 10px;
}

.main-section>.main-board>.board-savings>div>.saving-line {
    width: 60px;
    height: 10px;
    border-radius: 3px;
    background: #262C3B1C;
}

.main-section>.main-board>.board-bills {
    padding: 20px;
    width: 250px;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: -30px;
    left: 30px;
}

.main-section>.main-board>.board-bills>.bill-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section>.main-board>.board-bills>.bill-users>p {
    font-weight: 600;
    font-size: 14px;
}

.main-section>.main-board>.board-bills>.bill-amount {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.main-section>.main-board>.board-bills>.bill-lines {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-section>.main-board>.board-bills>.bill-lines>.bill-line {
    width: 100px;
    height: 10px;
    border-radius: 3px;
    background: #262C3B1C;
}

.main-section>.main-board>.board-bills>.bill-lines>.bill-dot {
    width: 40px;
    height: 10px;
    border-radius: 3px;
    background: #262C3B1C;
    position: absolute;
    top: -20px;
    right: 0;
}